<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="Mapmory Internal"
        tools:replace="android:label">
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            tools:node="remove" />

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
    </application>
</manifest>
